<!doctype html>
<html>
    <title>Hello</title>
<head>
<style>
.errors { color: red; }
</style>
</head>

<body>

<h1>Instructions</h1>

These are some instructions

<p>
<hr>

{% macro render_field(field) %}
  <div>{{ field.label }}: {{ field(**kwargs)|safe }} {% if field.errors %} <span class=errors> {% for error in field.errors %} {{ error }} {% endfor %} </span> {% endif %}
  </div>
{% endmacro %}

<form method="POST" action="/roster" enctype="multipart/form-data">
    {{ render_field(form.title) }}
    {{ render_field(form.orient) }}
    {{ render_field(form.columns) }}
    {{ render_field(form.csvfile) }}
    {{ form.csrf_token() }}
    {{ form.submit }}
    <p><input type=submit value=Submit>
</form>
</body>
</html>
